<div class="content" align="center">

<div fxLayoutAlign="center center" class="dimension">

  <mat-toolbar color="primary">
    <div class="top-text" align="center">
      <img class='logo' src="../../../assets/img/logo-removebg-preview.png">
    </div>
  </mat-toolbar>
  <form  class="form align" [formGroup]="loginForm"   (ngSubmit)="loginUser(loginForm.value)">
  <mat-card class="my-card" >
     <mat-card-content>
      <h1> Food Caring</h1>
           <div>
           <div class="row">
           <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input  matInput  placeholder="Username" name="username" formControlName="username">
           </mat-form-field>
           </div>
           <div class="row">
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" type="password" name="password" formControlName="password">
           </mat-form-field>
         </div>
      </div>

     </mat-card-content>
    <a href="/register">You don't have an account? Register here</a>
    <br><br>
     <mat-card-actions  class="align">
        <button mat-raised-button type="submit" color="primary">LOGIN</button>
       <br><br>
     </mat-card-actions>
  </mat-card>
</form>
</div>
</div>
