.content{
  background-image: url("../../../../assets/img/background.jpg");
  background-color: rgb(156, 216, 237);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dimension {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
}

::ng-deep .mat-form-field {
  font-size: 15px; // example
}

.align {
  text-align: center;
}

.full-width {
  width: 300px;
}

.mat-toolbar {
  background-color: midnightblue;
  height: auto;
}

.logo {
  width: 60px;
  height: 60px;
}

h1 {
  display: inline-block;
  background: linear-gradient(90deg, red, midnightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
}

.top-text {
  width: 100% !important;
}
