<mat-tab-group class="tabs" #tabs (selectedTabChange)="setTab($event)">
  <mat-tab label="Home">
<!--    <div align="center">-->
<!--      <img class='logo' src="../../../../assets/img/logo.png">-->
<!--    </div>-->
    <app-main-page [tabs]="tabs"></app-main-page>
  </mat-tab>

  <mat-tab *ngIf="role == 'ADMIN'"
           label="Restaurant Responsibles" ><app-restaurant-responsible-table></app-restaurant-responsible-table></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Disadvantaged Persons" > <app-disadvantaged-people-table></app-disadvantaged-people-table></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Priorities" > <app-disadvantaged-persons-table-sorted></app-disadvantaged-persons-table-sorted></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Charts"> <app-donations-chart></app-donations-chart></mat-tab>

  <mat-tab *ngIf="role == 'RESTAURANT_RESPONSIBLE'"
           label="Menus" > <app-menu-table></app-menu-table></mat-tab>
  <mat-tab *ngIf="role == 'RESTAURANT_RESPONSIBLE'"
           label="Weekly Menu" > <app-weekly-menu-table></app-weekly-menu-table></mat-tab>
  <mat-tab *ngIf="role == 'RESTAURANT_RESPONSIBLE'"
           label="Products" > <app-menu-item-table></app-menu-item-table></mat-tab>


  <mat-tab *ngIf="role == 'DONOR'"
           label="Make a Donation" > <app-donor-donations-table></app-donor-donations-table></mat-tab>


  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Wishlist" > <app-wishlist-table></app-wishlist-table></mat-tab>
  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Allergies" ><app-allergies-page></app-allergies-page></mat-tab>
  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Donations Received" ><app-donations-table></app-donations-table></mat-tab>
</mat-tab-group>

<mat-button class="material-icons account-button" [matMenuTriggerFor]="menu">account_circle</mat-button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>person</mat-icon>
    <span>My Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>


