<mat-tab-group class="tabs" #tabs (selectedTabChange)="setTab($event)">
  <mat-tab label="Home">
<!--    <div align="center">-->
<!--      <img class='logo' src="../../../../assets/img/logo.png">-->
<!--    </div>-->
    <app-main-page [tabs]="tabs"></app-main-page>
  </mat-tab>

  <mat-tab *ngIf="role == 'ADMIN'"
           label="Restaurant Responsibles" ><app-restaurant-responsible-table></app-restaurant-responsible-table></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Disadvantaged Persons" > <app-disadvantaged-people-table></app-disadvantaged-people-table></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Priorities" > <app-disadvantaged-persons-table-sorted></app-disadvantaged-persons-table-sorted></mat-tab>
  <mat-tab *ngIf="role == 'ADMIN'"
           label="Charts"> Here will be the ADMIN's page for the charts</mat-tab>

  <mat-tab *ngIf="role == 'RESTAURANT_RESPONSIBLE'"
           label="Menus" > <app-menu-table></app-menu-table></mat-tab>
  <mat-tab *ngIf="role == 'RESTAURANT_RESPONSIBLE'"
           label="Products" > Here will be the REST_RESP's page for working with Products' data</mat-tab>

  <mat-tab *ngIf="role == 'DONOR'"
           label="Make a Donation" > Here will be the DONOR's page for making the donations</mat-tab>


  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Wishlist" > Here will be the Disadv. pers. wishlist page</mat-tab>
  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Allergies" ><app-allergies-page></app-allergies-page></mat-tab>
  <mat-tab *ngIf="role == 'DISADVANTAGED_PERSON'"
           label="Current Orders" > Here will be the Disadv. pers. page for cancelling orders</mat-tab>
</mat-tab-group>

<mat-button class="material-icons account-button" [matMenuTriggerFor]="menu">account_circle</mat-button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>My Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>


