.tabs {
  display: inline-block;
  width: 100%;
}

.account-button {
  vertical-align: top;
  padding-top: 7px;
  color: midnightblue;
  display: inline-block;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
  right: 0;
  position: fixed;
  z-index: 10;
}

.logo {
  height: 150px !important;
}
::ng-deep
.mat-tab-header{
  width: 100%;
  position: fixed !important;
  z-index: 9;
  top:0;
  background: white;
}
