<br><br><br><br>
<div align="center"><p>donations-chart works!</p>
  <ejs-chart id="chart-container" class="chart" [primaryXAxis]="primaryXAxis" [title]="title" [legendSettings]="legendSettings" [tooltip]="tooltip">
    <e-series-collection>
      <e-series [dataSource]="chartData" type="Column" xName="day" yName="numberOfPatients"
                name="Appointments"  [marker]="columnMarker">
      </e-series>
      <e-series [dataSource]="chartData" type="Line"  xName="day" yName="numberOfPatients"
                name="Appointments"  [marker]="lineMarker">
      </e-series>
    </e-series-collection>
  </ejs-chart>
</div>
