.left-button {
  float: left;
  margin: 0 20px 0 0;
}

.right-button {
  float: right;
}

mat-form-field {
  width: 240px;
}

.full-input {
  width: 100%;
}

.full-modal-input {
  width: 48%;
}

h1 {
  text-align: center;
  background: linear-gradient(90deg, red, midnightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
  font-size: 30px;
}
