<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstStep">
    <ng-template matStepLabel>Choose a restaurant and a menu</ng-template>
    <br>
    <form class="form" [formGroup]="firstStep">
      <mat-form-field appearance="fill" class="full-modal-input">
        <mat-label>Choose a restaurant</mat-label>
        <mat-select class="left-button" [formControl]="donationValidator.restaurantForm" (selectionChange)="getMenus()">
          <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant">{{restaurant.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ng-template matStepLabel>Choose a menu</ng-template>
      <mat-form-field appearance="fill" class="full-modal-input">
        <mat-label>Choose a menu</mat-label>
        <mat-select class="right-button" [formControl]="donationValidator.menuForm">
          <mat-option *ngFor="let menu of menus" [value]="menu">{{menu.weekly}} {{menu.name}} - {{menu.price}} RON</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button class="right-button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Method of choosing disadvantaged person</ng-template>
    <br>
    <h1> How do you want to choose the disadvantaged persons? </h1>
    <br>
    <button class="left-button" mat-button matStepperNext (click)="initNonRandom()">Choose manually the disadvantaged
      persons
    </button>
    <button class="right-button" mat-button matStepperNext (click)="initRandom()">Let the platform choose them
      automatically by priority
    </button>
  </mat-step>
  <mat-step [stepControl]="thirdStep">
    <form [formGroup]="thirdStep">
      <ng-template matStepLabel>Choose the disadvantaged persons</ng-template>
      <br>
      <mat-form-field class="example-chip-list full-input">
        <mat-label>Disadvantaged Persons</mat-label>
        <mat-chip-list #chipList aria-label="Disadvantaged Person selection">
          <mat-chip
            *ngFor="let disadvantagedPerson of selectedDisadvantagedPersons"
            [selectable]="!selectRandom"
            [removable]="!selectRandom"
            (removed)="remove(disadvantagedPerson)">
            {{disadvantagedPerson.firstName}} {{disadvantagedPerson.lastName}}
            <mat-icon matChipRemove *ngIf="!selectRandom">cancel</mat-icon>
          </mat-chip>
          <input
            *ngIf="!selectRandom"
            class="full-input"
            placeholder="Add disadvantaged person..."
            #disadvantagedPersonsInput
            [formControl]="donationValidator.disadvantagedPersonForm"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList">
        </mat-chip-list>
        <div *ngIf="selectRandom && selectedDisadvantagedPersons.length === 0"><br><br></div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let disadvantagedPerson of filteredDisadvantagedPersons | async"
                      [value]="disadvantagedPerson">
            {{disadvantagedPerson.firstName}} {{disadvantagedPerson.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
    </form>
    <mat-slider *ngIf="selectRandom"
                class="example-margin full-input"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumbLabel]="true"
                [(ngModel)]="numberOfPersons"
                aria-labelledby="example-name-label">
    </mat-slider>
    <br>
    <button *ngIf="selectRandom" class="full-input" mat-button (click)="getRandomDisadvantagedPerson()">
      Select random disadvantaged persons
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Total price:</b> {{total}} RON
    <br><br>
    <button class="left-button" mat-button matStepperPrevious>Back</button>
    <button class="right-button" mat-button
            *ngIf="donationValidator.isValid() && this.selectedDisadvantagedPersons.length > 0"
            (click)="createDonation()">Donate
    </button>

  </mat-step>
</mat-horizontal-stepper>
