//.random-button {
//  height: 50px;
//  top: -7px;
//  position: relative;
//  margin-left: 1px;
//}

.left-button {
  float: left;
  margin: 0 20px 0 0;
}

.right-button {
  float: right;
}

mat-form-field {
  width: 240px;
}

.full-input{
  width: 100%;
}
