.content {
  background-image: url("../../../assets/img/background.jpg");
  background-color: rgb(156, 216, 237);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
  left: 0;
  margin: 0;
}

.intro {
  height: 100%;
  align-content: center;
  align-items: center;
  align-self: center;
  alignment: center;
  child-align: middle;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.intro .generals-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  color: midnightblue;
  text-align: center;
  align-content: center;
  width: 100%;
}

.intro .generals-title img {
  width: 70px;
  height: 70px;
}

.intro hr {
  width: 650px;
}

.intro .generals {
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-justify: inter-word;
}

.intro .generals p {
  font-size: 20px;
  line-height: 1.6;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-justify: inter-word;
  width: 600px;
}

.intro .generals img {
  width: 15px;
  height: 15px;
}

.info {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
}

.more-info {
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 10px;
  width: 27%;
  height: 350px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 40px;
  float: right;
  background-color: rgba(163, 219, 239, 0.2);
}

.table-tarife {
  width: 100%;
}

.div-transparent {
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 100px;
  padding-right: 100px;
}

.div-transparent .generals-title {
  color: midnightblue;
  font-size: 20px;
}

.div-transparent table {
  width: 100%;
}

.table-tarife td {
  border-bottom: 1px solid black;
}

.pret {
  width: 100px;
  text-align: right;
}

.info h1 {
  color: midnightblue;
}

.info h2 {
  color: midnightblue;
}

.table-tarife {
  background-color: rgba(163, 219, 239, 0.2);
  box-shadow: 4px 4px 4px #aaaaaa;
  padding: 5px;
}

.card-medic {
  background-color: rgba(163, 219, 239, 0.2);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 4px 4px 4px #aaaaaa;
  width: 48%;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
  min-height: 150px;
  text-align: justify;
}

.td-image {
  width: 110px;
  height: 110px;
}

.button, .button:visited, .button:active, .button:link {
  color: white;
  background-color: midnightblue;
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 15px;
}

.footer {
  background-color: rgb(237, 249, 253);
  padding: 0;
  width: 100%;
  display: inline-block;
  clear: both;
}

.center {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}

iframe {
  width: 100%;
}
