<div class="content">
  <div class="intro" align="center">
    <br><br><br><br><br><br>

    <div class="generals-title"> <img class='logo' src="../../../assets/img/logo-removebg-preview.png"><br><br>Food Caring Application</div>
    <hr>
    <br>
    <div class="generals" align="center">
      <br>
      <p >The Food Caring Application is intended for all people who want to help disadvantaged people, as well as people who want to be helped.
      </p>
      <br><br>
      <a href="/mainPage#more-info" class="button"> Find out more </a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div id="more-info" class="info">
    <br>
    <br>
    <br><br>
    <div  class="center" ><h1>Learn more about Foodcaring</h1><br><br>
      Hello and welcome to Foodcaring, a place where we believe that everyone should be able to eat a warm meal! Food is life and our application thrives to give disadvantaged people the chance to eat better through your kindness. Donors can choose whom to feed a nice meal, or let the system do that in a smart and careful way. We also make sure that everyone is treated equally by prioritizing persons that have not yet received a meal. Be kind and remember that you are not only feeding people’s stomachs, but you are also feeding their hearts!
    </div>
    <br><br><br><br>
    <iframe  height="480"
            src="https://www.youtube.com/embed/efkVY-UyGDM">
    </iframe>
    <br><br>
  </div>

  <div class="div-transparent">

    <br>
    <div class="generals-title">Services provided for you by this application:</div>
    <hr>
    <br>
    <table class="tabel-servicii" *ngIf="role === 'ADMIN'">
      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Insert restaurant responsibles
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Update restaurant responsibles
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Delete restaurant responsibles
        </td>
      </tr>

      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Insert disadvantaged person
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Update disadvantaged person
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Delete disadvantaged person
        </td>
      </tr>

      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          View statistics about the most/least helped persons
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Mark people who have not received donations to have priority
        </td>
      </tr>
    </table>
    <table class="tabel-servicii" *ngIf="role === 'DONOR'">
      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Choose the restaurant and the menu for donation
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Choose the person/persons you want to help
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Let the platform choose the person instead
        </td>
      </tr>
    </table>
    <table class="tabel-servicii" *ngIf="role === 'RESTAURANT_RESPONSIBLE'">
      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Insert products/menus
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Configure weekly menus
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Make weekly discounts
        </td>
      </tr>
    </table>
    <table class="tabel-servicii" *ngIf="role === 'DISADVANTAGED_PERSON'">
      <tr>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Add a wishlist with certain products
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Add intolerances / allergies to certain products
        </td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
          Cancel orders if you are not in the locality / at the address
        </td>
      </tr>


    </table>

    <br>
  </div>
  <div class="info">
    <div class="center" *ngIf="role === 'ADMIN'">
      <br><br>
      <h1>Statistics about the most/least helped persons</h1>
      <hr>
      <br>
      View information (graphics) about the most / least helped people on the platform
      <br><br><br>
      <a (click)="goToStatisticsPage()" class="button">  See statistics </a>
    </div>
    <div class="center" *ngIf="role === 'DONOR'">
      <br><br>
      <h1>Make a donation</h1>
      <hr>
      <br>
      Choose the restaurant, menu and the disadvantaged person you want to help.
      <br><br><br>
      <a (click)="goToDonationPage()" class="button">  Donate </a>
    </div>
    <div class="center" *ngIf="role === 'RESTAURANT_RESPONSIBLE'">
      <br><br>
      <h1>Your Menus provided for donations</h1>
      <hr>
      <br>
      See all the menus available for donations.Add menus to your donation list, update or delete the existing ones.
      <br><br><br>
      <a (click)="goToMenusPage()" class="button">  See menus </a>
    </div>
    <div class="center" *ngIf="role === 'DISADVANTAGED_PERSON'">
      <br><br>
      <h1>Receive donations</h1>
      <hr>
      <br>
      See all the menus that have been donated to you.
      <br><br><br>
      <a (click)="goToOrderPage()" class="button">  See orders </a>
    </div>
    <br><br><br><br>
  </div>
</div>
