.form-dimension{
    text-align: center;
    width: 500px;
}

.form-align{
    margin-left: 5%;
    width: 50%;
}

.text-danger{
    font-size: 15px;
    color: red;
}

.modal-title {
  display: inline-block;
  background: linear-gradient(90deg, red, midnightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
}
