.content{
  background-image: url("../../../assets/img/background.jpg");
  background-color: rgb(156, 216, 237);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Bahnschrift", "Times New Roman", Times, serif;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .align{
    text-align: center;
}

.dimension{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -4%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}

::ng-deep .mat-form-field {
    font-size: 15px; // example
}
.full-width{
    width: 250px;
}

.text-danger{
    font-size: 15px;
    color: red;
}
