/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-title {
  font-family: "Roboto", serif;
  font-size: 20px;
  position: relative;
  top: 20px;
  height: 50px;
}
.modal-content {
  padding: 20px 10px 10px 10px;
  overflow: hidden;
  width: 95%;
}
.modal-chip-list, .modal-input {
  width: 100%;
}
.half-modal-input{
  width:48%;
}
