h1 {
  text-align: center;
  position: relative;
  top: -10px;
  color: rgb(200, 0, 0);
}

.icon {
  color: rgb(200, 0, 0);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.material-icons {
  font-size: 48px;
}

.content {
  text-align: center;
}

.mat-button {
}
